.name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.rollno{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:black;
}
.branch{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:black;
}
.bloodgroup{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:black;
}

